<p>
We got a registration request for <%= @user.email %> for the Beer Button.
If you received this email in error, don't worry, you'll only virtually exist fo 24hrs.
</p>

<p>If you want to find beer, click on the link below:
</p>
<p>
<%= @url %>
</p>

<p>If that don't work, copiest thy link and paste!</p>

<p>Once you're there you can register for beer finding goodness.</p>

<p>Happy Hunting</p>
<p>The Beer Button</p>

<p><%= DateTime.now %></p>
